/.phpunit.cache
/bootstrap/ssr
/node_modules
/ignore
/public/sitemap.xml
/public/hot
/public/storage
/public/signed-contracts
/public/reviews
/public/media
/public/img
/public/images
/public/panel
/public/upload
/public/vendor
/public/files
/public/events
/public/*.png
/public/*.jpg
/public/*.jpeg
/public/*.gif
/public/*.bmp
/public/*.tiff
/public/*.svg
/public/[0-9]*/
/storage/*.key
/storage/framework/sessions
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

.scribe/*
resources/views/scribe/index.blade.php
