@keyframes animate-infinite-scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(1000%);
	}
}

.infinite-scroll-container .animate-infinite-scroll {
	animation: animate-infinite-scroll 100s linear infinite;
}

.infinite-scroll-container:hover .animate-infinite-scroll {
	animation-play-state: paused;
}

@media (prefers-reduced-motion: reduce) {
	.marquee__content {
		.animate-infinite-scroll {
			animation-play-state: paused !important;
		}
	}
}
