.modal-video-inner {
	width: 90% !important;
	max-width: 100%;
	margin: 0 auto;
}
.modal-video-movie-wrap {
	background-color: transparent;
}
.modal-video-movie-wrap iframe {
	border-radius: 18px;
	overflow: hidden;
}
