.custom-pagination .swiper-pagination-bullet {
	width: 5px;
	height: 5px;
	border-radius: 50px;
	border-radius: 2.5px;
	background: var(--Primary-05, #3f9ab2);
	margin: 0 6px; /* Spacing between bullets */
	transition: all 0.3s ease; /* Smooth transition for size and background */
}

/* Active bullet styled as a scrollbar */
.custom-pagination .swiper-pagination-bullet-active {
	display: flex;
	width: 100px;
	height: 5px;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;

	border-radius: 50px;
	background: var(--Primary-06, #0f819f);
	transition: all 0.3s ease;
}
