.hero_section {
	background: url("../../assets/images/hero/her_sec-bg.png") 50% / cover
		no-repeat;
}

.hero_image_section {
	width: 100%;
	height: 100%;
	background-image: url("../../assets/images/hero/hero_img.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
}
/* .hero_image_section::after {
	content: "";
	position: absolute;
	top: 165px;
	left: 0;
	width: 793px;
	height: 873px;
	background-image: url("../../assets/images/hero/Bg_hero_img.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
} */

/*  style line */
.line_as_image {
	width: 100px;
	height: 5px;
	border-radius: 26px;
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgba(15, 129, 159, 0.9) 0%,
		rgba(255, 255, 255, 0) 100%
	);
}

.download_app_section {
	width: 387.736px;
	height: 290px;
	border-radius: 100px 0px;
	border: 1px solid var(--Primary-01, #e7f2f5);
	opacity: 0.9;
	background: var(--BG-02, #f3f9fa);
	box-shadow: var(--section-shadow);
	backdrop-filter: blur(15.300000190734863px);
}

/* media query */

@media (max-width: 1200px) {
	.hero_section {
		background-position: left top;
		background-size: 100%;
	}
	.hero_image_section {
		background-position: left bottom;
		background-size: 60%;
	}
	/* .hero_image_section::after {
		top: 218px;
		width: 60%;
	} */
}

@media (max-width: 1024px) {
	.hero_section {
		background-position: left top;
		background-size: 100%;
	}
	.hero_image_section {
		background-size: 45%;
	}

	/* .hero_image_section::after {
		top: -140px;
		width: 461px;
	} */
}

@media (max-width: 992px) {
	.hero_section {
		background-position: left center;
		background-size: 100%;
	}
	.hero_image_section {
		background-position: left center;
		background-size: 54%;
	}

	/* .hero_image_section::after {
		top: 171px;
		width: 598px;
	} */
}

@media (max-width: 768px) {
	.hero_image_section {
		background-position: left 30%;
		background-size: 100%;
	}
	/* .hero_image_section::after {
		top: -144px;
		width: 100%;
	} */

	.download_app_section {
		width: 100%;
		height: auto;
		padding: 32px 20px;
		opacity: 1;
		border-radius: 50px 0 50px 0;
		-webkit-border-radius: 50px 0 50px 0;
		-moz-border-radius: 50px 0 50px 0;
		-ms-border-radius: 50px 0 50px 0;
		-o-border-radius: 50px 0 50px 0;
	}
}

@media (max-width: 430px) {
	.hero_section {
		background-position: left top;
		background-size: 100%;
	}

	.hero_image_section {
		background-position: left 30%;
		background-size: 100%;
	}
	/* .hero_image_section::after {
		top: -175px;
		width: 100%;
	} */
}

@media (max-width: 375px) {
	/* .hero_image_section::after {
		top: -186px;
	} */
}

@media (max-width: 320px) {
	/* .hero_image_section::after {
		top: -226px;
	} */
}
